.cardd {
    height: 100%;
    width: 100%;
    max-height: 420px;
    max-width: 650px;
    background-color: blue;
    border-radius: 8px;
    text-align: center;
    display: flex;
}

.imiddiv {
    width: 50%;
    height: 100%
}

.padding {
    box-sizing: border-box;
    padding: 55px 40px;
}

.flower_box {
    width: 650px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    text-align: center;
}

.image {
    float: left;
    width: 50%;
    height: 100%;
    display: block;

    background-size: cover;
    border-radius: 8px 0 0 8px;
}

.right {
    padding: 55px 40px;
    width: 50%;
    height: 100%;
    float: left;
}

#elegant-title {
    color: rgba(0, 0, 0, 0.7);
    font: normal 300 34px/30px 'Cinzel', serif;
    text-align: left;
}

#elegant-subtitle {
    text-transform: uppercase;
    font: normal 500 14px/30px 'Cinzel', serif;
    color: rgba(71, 71, 71, 0.7);
    text-align: left;
    letter-spacing: 2px;
    margin-top: 4px;
}

hr {
    display: block;
    color: rgba(71, 71, 71, 0.1);
    height: 2px;
    margin-top: 20px;
}

#elegant-p {
    text-align: left;
    color: rgba(71, 71, 71, 0.8);
    font: 500 16px/26px 'Lato', sans-serif;
    margin-top: 20px;
}



#elegant-btn {
    cursor: pointer;
    float: left;
    margin-top: 20px;
    width: 175px;
    height: 50px;
    border-radius: 40px;
    outline: 0;
    border: 0;
    transition: 0.3s linear;
    color: black;
    font: normal 500 13px/30px 'Lato', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#elegant-btn:hover {
    transform: scale(0.9);


}